@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html{
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}

body{
  background-color: #040714;
  color: #f9f9f9;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #f9f9f9;
}

@media only screen and (min-width: 768px){
  body{
    font-size: 16px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px){
  body{
    font-size: 15px;
  }
}

@media only screen and (max-width: 479px){
  body{
    font-size: 14px;
  }
}
